//$primary-color:
$jungle-mist: #aac9ce;
$french-gray: #b6b4c2;
$pale-slate: #c9bbc8;
$melanie: #e5c1cd;
$almond: #f3dbcf;
$dark-gray: #434a54;

$primary-color: #6a9cfd;
$second-color: #aee4ff;
$third-color: #ffb8d0;
$fourth-color: #033495;

$background-color: #fee5e1;
$text-color: #222830;
$white-color: #fafaff;
$validation-color: rgb(255, 103, 103);