.content {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  &-header {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1rem;
  }

  &-body {
    display: flex;
  }
}

.form-group {
  &-permission {
    &-checkbox {
      input[type="checkbox"] {
        width: 16px;
        height: 16px;
        outline: none;
      }
    }
  }
}

.label-for-checkbox {
  font-size: 1.4rem;
  user-select: none;
}