.main {
  width: 100%;
  height: 100%;
  display: flex;

  .content {
    margin-top: 16px;

    &-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 0 8px;
      margin: 1.5rem 0;

      &-insert {
        a {
          text-decoration: none;
          font-size: 1.6rem;
          color: $fourth-color;
          padding: 8px 24px;
          border: 1px solid $fourth-color;
          text-transform: capitalize;

          &:hover {
            color: $primary-color;
            border-color: $primary-color;
          }
        }
      }

      &-list {
        position: relative;
        font-size: 1.4rem;
        display: inline-block;
        padding: 8px;
        border: solid 1px;

        &-select-page {
          display: inline-block;
          height: 300px;
          overflow: auto;
          position: absolute;
          right: 0;
          left: 0;
          top: 100%;
          margin-top: 2px;
          text-align: center;
          background: $white-color;
          opacity: 0;
          visibility: hidden;
          transition: all .2s;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
          border-bottom-right-radius: 4px;

          li {
            padding: 4px;

            a {
              display: block;
            }

            &.active {
              font-weight: 900;
            }
          }

          &.active {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &-container {
      width: 100%;

      &-table {
        max-height: 80vh;
        overflow: auto;
        width: 100%;
        display: inline-table;

        // background-color: $fourth-color;
        th {
          text-transform: capitalize;
          margin: 1rem 8px;
          font-size: 1.6rem;
          background-color: $jungle-mist;
          padding: 8px;
          border: .5px solid rgba($dark-gray, 30%);

          &:hover {
            cursor: pointer;
          }
        }

        tr {
          text-align: center;
          border: .5px solid rgba($dark-gray, 30%);

          // &:first-child:hover {
          //   background-color: transparent;
          // }

          &:hover {
            background-color: $background-color;
          }

          td {
            padding: 6px 0;
            font-size: 1.4rem;
            font-weight: 400;
            border: .5px solid rgba($dark-gray, 30%);

            &:first-child {
              width: 80px;
            }


          }
        }
      }
    }


    &-navigation {
      text-align: center;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &-link {
        font-size: 1.4rem;
        text-decoration: none;
        color: #262626;
      }

      &-button {
        font-size: 1.4rem;
        text-decoration: none;
        margin: 0 8px;
        color: $dark-gray;

        &.rotate {
          transform: rotate(180deg);
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.link-icon {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  color: $fourth-color ;
  margin: 0 12px;

  .red-color {
    color: red;
    opacity: .7;
  }

  &:hover {
    color: crimson;

    .red-color {
      opacity: 1;
    }
  }

  &.biggest {
    font-size: 1.8rem;
    transform: translateY(15%);
  }
}

.select {
  display: block;
  width: 100%;
  height: 32px;
  background: whitesmoke;
  border-radius: 4px;
}

.pagination {
  margin: 1rem 0 0;

  &-list {
    display: block;
  }

  &-item {
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: $background-color;
    }

    &.active {
      font-weight: 800;
      color: $white-color;
      background-color: $primary-color;
      text-shadow: 1px 1px 1px #262626;
    }

    &-link {
      text-decoration: none;
      display: inline-block;
      padding: 8px 12px;
      color: inherit;
    }

  }
}