.user {
  display: flex;

  &-header {
    display: flex;
    justify-content: flex-end;
    padding: 16px;

    &-button {
      text-decoration: none;
      font-size: 1.8rem;
      border: 1px solid $french-gray;
      padding: 8px 16px;
      background-color: $almond;
      color: #000;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
        filter: brightness(1.1);
        transition: all .2s;
      }
    }
  }

  &-table {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    max-height: 500px;
    overflow: auto;

    thead {
      width: 100%;
      background-color: $french-gray;

      tr {
        th {
          padding: 16px 0;
          border: 0.5px solid rgba(67, 74, 84, 0.3);
        }
      }
    }

    tbody {
      width: 100%;
      text-align: center;

      tr {

        &:hover {
          background-color: $almond;
        }
      }
    }

    tr {
      width: 100%;



      th,
      td {
        text-align: center;
        padding: 16px 0;
      }

      td {
        border: 0.5px solid rgba(67, 74, 84, 0.3);

      }
    }
  }
}